body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#hero {
    background-color: #1F2937;
    height: 600px;
    display: flex;
    justify-content: center;
}

#hero .container {
    height: 450px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    display: flex;
    height: 40px;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

#header .logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration-line: none;
    color: #f9faf8;
    font-size: 18px;
}


#hero .box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    padding: 10px 0;

}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.main .text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

#hero .button {
    color: #e5e7eb;
    font-weight: 700;
    background-color: #3882f6;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    border: #1F2937
}

.hills {
    width: 500px;
    height: auto;
    max-width: 100%;
}

#info {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#info .title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 50px;
}

#info .container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0 10px;
}

#info .item img {
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 20px;
    border-color: #3882F6;
}

#info .item .text {
    text-align: center;
}

#quote {
    background-color: #e5e7eb;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote .container {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote .text1 {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

#quote .text2 {
    display: flex;
    align-self: flex-end;
    font-size: 30px;
    font-weight: bold;
}


#call-to-action {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#call-to-action .container {
    background-color: #3882F6;
    height: 150px;
    width: 75%;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#call-to-action .title {
    font-size: 30px;
    color: white;
    font-weight: 900;
}

#call-to-action .text {
    color: white;
}

#call-to-action .button {
    color: white;
    font-weight: 700;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #3882F6;

}

#footer {
    background-color: #1F2937;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}